.sidebar {
  width: 280px;
}

.active {
  font-weight: bold;
  color: black;
}

.active-rating {
  font-weight: bold;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}