.sidebar {
  width: 60%;
  background-color: #A2AEBB;
}

.sidebar-header {
  display: none;
}

.sidebar-body {
  padding: 0;
}

.sidebar-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.sidebar-nav__item {
  padding: 0.8rem 0;
  width: 100%;
  display: flex;
  justify-content: center;

  &:hover{
    background-color: #b2becb;
  }

  &:first-child {

    // .sidebar-nav__link .cart-badge:empty {
    //  margin: 0;
    //}
    //
    //.sidebar-nav__link {
    //  margin-left: 1.5rem;
    //}
  }

  &:hover .sidebar-nav__link {
    color: #ffffff;
  }
}

.sidebar-nav__link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;

  &:hover,
  &:active {
    color: #ffffff;
  }
}

.cart-badge {
  background-color: #b2bbc6 !important;
  color: #000000;
  border-radius: 50%;
  align-items: center;
  font-size: 0.9rem;
}