.product {
  height: 38rem;
  width: 25rem;
  border-radius: 0.5rem;
  position: relative;
}

.card-img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.price {
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .product {
    width: 17rem;
    height: 28rem;
  }
}

@media screen and (max-width: 768px) {
  .product {
    width: 20rem;
    height: 32rem;
  }
}

@media screen and (max-width: 425px) {
  .product {
    width: 20rem;
    height: 32rem;
  }
}

