.product {
  height: 40rem;
  width: 25rem;
  border-radius: 0.5rem;
  position: relative;
}

.card-img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.img-wrapper {
  height: 485.922px;
}

.price {
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .product {
    width: 17rem;
    height: 30rem;
  }

  .img-wrapper {
    height: 329.641px;
  }
}

@media screen and (max-width: 768px) {
  .product {
    width: 20rem;
    height: 34rem;
  }

  .img-wrapper {
    height: 388.250px;
  }


}

@media screen and (max-width: 425px) {
  .product {
    width: 20rem;
    height: 33.5rem;
  }

  //height: 388.250px;
}

