.product-screen {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.breadcrumb {
  margin: 0.5rem 0;
}

.product-detail__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.photo-col {
  height: 60%;
}

.product-img {
  width: 100%;
}

.product-price {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.4rem;

  .price {
    margin-left: 0.5rem;
  }
}

.product-actions__card {
  padding: 0.7rem;
}

.product-actions__price,
.product-actions__status,
.qty-wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-actions__status {
  margin: 0.4rem 0 0.5rem 0;
}
.badge {
  margin-bottom: 0;
}

.description {
  margin-bottom: 0.5rem;
}

.qty-wrapper {
  margin-top: .2rem;
  margin-bottom: .7rem;
}

.review-form__wrapper {
  width: 40%;
  margin: 1rem auto;
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & > h3 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .product-detail__wrapper {
    flex-direction: column;
  }

  .product-description {
    margin-top: 1rem;
  }

  .photo-col {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .product-img {
    width: 100%;
  }
}