.header {
  background-color: #A2AEBB;
  min-height: 70px;

  &-logo__brand > a {
    color: black;
  }

  .container {
    min-height: inherit;
  }

  &-wrapper {
    min-height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-nav {
    display: flex;
    flex-direction: row;

    &__link {
      color: #000;

      &:hover {
        color: #ffffff;
      }
    }
  }
}

.toggle {
  display: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 425px) {
  .header-nav__link {
    display: none;
  }


  .toggle {
    display: flex;
  }
}