.header {
  background-color: #A2AEBB;
  min-height: 70px;

  .container {
    min-height: inherit;
  }

  &-wrapper {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}