.search-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__container {
    margin: 1rem auto;
    height: 100%;
  }
}

.product-rating__list {
  &-item {
    display: flex;
    flex-direction: row;
  }
}

.active {
  font-weight: bold;
  color: black;
}

.price-active {
  font-weight: bold;
  color: black;
}

.rating-active {
  font-weight: bold;
  color: black;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 1rem;
}

.category-list {
  padding: 0;
}

.sort-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;

  & > h5 {
    margin-bottom: 0;
  }

  & > select {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .search-results__actions {
    width: 100%;
  }

  .seeked-products__col {
    width: 100%;
  }

  h3 {
    margin-bottom: 1rem;
  }

  .search-categories {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .search-results__actions {
    width: 100%;
  }

  .seeked-products__col {
    width: 100%;
  }

  .products {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 1rem;
  }
  h3 {
    margin-bottom: 0;
  }

  .sort-actions {
    justify-content: flex-start;

    & > select {
      width: 45%;
    }
  }
}