.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__row {
    display: flex;
    flex-direction: row;
  }
}

.search-btn {

  &:focus {
    box-shadow: none;
  }
}
